In [2]:
mylist = ["Srilanka", "Japan", "Malaysia", "Indonesia"]
print (len(mylist))

4

In [3]:
mylist = ["Srilanka", "Japan", "Malaysia", "Indonesia"]
print (mylist[1])

Japan

In [7]:
mylist = ["Srilanka", "Japan", "Malaysia", "Indonesia"]
mylist[0] = "India"
print (mylist)

['India', 'Japan', 'Malaysia', 'Indonesia']

In [9]:
mylist = ["Srilanka", "Japan", "Malaysia", "Indonesia"]
mylist.insert(0, "Bangladesh")
print (mylist)

['Bangladesh', 'Srilanka', 'Japan', 'Malaysia', 'Indonesia']

In [10]:
mylist = ["Srilanka", "Japan", "Malaysia", "Indonesia"]
mylist.append("Bangladesh")
print (mylist)

['Srilanka', 'Japan', 'Malaysia', 'Indonesia', 'Bangladesh']

In [36]:
mylist = ["Srilanka", "Japan", "Malaysia", "Indonesia"]
mylist.insert(3, "Brunei")
mylist[4] = "USA"
mylist[2:3] = "Thailand", "Singapore"
print (mylist)

['Srilanka', 'Japan', 'Thailand', 'Singapore', 'Brunei', 'USA']

In [37]:
mylist = ["Srilanka", "Japan", "Malaysia", "Indonesia", "Germany"]
mylist [0] = "India"
mylist.append("Australia")
mylist[3:4] = "Bali", "Karimun Jawa"
print(mylist)

['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia']

In [30]:
mylist = ["Srilanka", "Japan", "Malaysia", "Indonesia", "Germany"]
mylist [0] = "India"
mylist.append("Australia")
mylist[3:4] = "Bali", "Karimun Jawa"
mylist.remove("Malaysia")
mylist.pop(4)
print(mylist)

['India', 'Japan', 'Bali', 'Karimun Jawa', 'Australia']

In [38]:
mylist = ["Srilanka", "Japan", "Malaysia", "Indonesia", "Germany"]
mylist [0] = "India"
mylist.append("Australia")
mylist[3:4] = "Bali", "Karimun Jawa"
mylist.remove("Malaysia")
mylist.pop(4)
print(mylist)

['India', 'Japan', 'Bali', 'Karimun Jawa', 'Australia']

In [39]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia']
print(list)

['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia']

In [40]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia']

print(len(list))

7

In [41]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia']
print(list[:5])

['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa']

In [45]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia']
print(list [5:])

['Germany', 'Australia']

In [46]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia']
list.append("USA")
print(list)

['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia', 'USA']

In [48]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia']
list.insert(4, "USA")
print(list)

['India', 'Japan', 'Malaysia', 'Bali', 'USA', 'Karimun Jawa', 'Germany', 'Australia']

In [49]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Karimun Jawa', 'Germany', 'Australia']
list[3:5] = ["Indonesia"]
print(list)

['India', 'Japan', 'Malaysia', 'Indonesia', 'Germany', 'Australia']

In [50]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Germany', 'Australia']
list[4] = ["Berlin", "Dortmund"]
print(list)

['India', 'Japan', 'Malaysia', 'Indonesia', ['Berlin', 'Dortmund'], 'Australia']

In [51]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Germany', 'Australia']
list[4] = ["Berlin", "Dortmund"]
print(list[5])

Australia

In [52]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Germany', 'Australia']
list[4:5] = ["Berlin", "Dortmund"]
print(list)

['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']

In [53]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Germany', 'Australia']
list[4:5] = ["Berlin", "Dortmund"]
print(list[5])

Dortmund

In [54]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
list.remove('Japan')
print(list)

['India', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']

In [55]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
list.pop(1)
print(list)

['India', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']

In [64]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
print(list)

['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']

In [65]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
print(len(list))

7

In [67]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
print(list[5])

Dortmund

In [68]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
list.append("USA")
print(list)

['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia', 'USA']

In [70]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
list.insert(2, "USA")
print(list)

['India', 'Japan', 'USA', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']

In [71]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
list.remove("India")
print(list)

['Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']

In [72]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
list.pop(0)
print(list)

['Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']

In [73]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
list[3] = ["Bali", "Java"]
print(list)

['India', 'Japan', 'Malaysia', ['Bali', 'Java'], 'Berlin', 'Dortmund', 'Australia']

In [75]:
list = ['India', 'Japan', 'Malaysia', ['Bali', 'Java'], 'Berlin', 'Dortmund', 'Australia']

print(list[3])

['Bali', 'Java']

In [76]:
list = ['India', 'Japan', 'Malaysia', 'Indonesia', 'Berlin', 'Dortmund', 'Australia']
list[3:4] = ["Bali", "Java"]
print(list)

['India', 'Japan', 'Malaysia', 'Bali', 'Java', 'Berlin', 'Dortmund', 'Australia']

In [77]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Java', 'Berlin', 'Dortmund', 'Australia']
print(list[4])

Java

In [81]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Java', 'Berlin', 'Dortmund', 'Australia']
list[3:5] = ["Indonesia"]
list[4:6] = ["Germany"]
print(list)

['India', 'Japan', 'Malaysia', 'Indonesia', 'Germany', 'Australia']

In [84]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Java', 'Berlin', 'Dortmund', 'Australia']
list.sort(reverse = True)
print(list)

['Malaysia', 'Java', 'Japan', 'India', 'Dortmund', 'Berlin', 'Bali', 'Australia']

In [85]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Java', 'Berlin', 'Dortmund', 'Australia']
list.reverse()
print(list)

['Australia', 'Dortmund', 'Berlin', 'Java', 'Bali', 'Malaysia', 'Japan', 'India']

In [88]:
list = ['India', 'Japan', 'Malaysia', 'Bali', 'Java', 'Berlin', 'Dortmund', 'Australia']
list[0] = ["bang"]
print(list)

[['bang'], 'Japan', 'Malaysia', 'Bali', 'Java', 'Berlin', 'Dortmund', 'Australia']

In [98]:
x = ('India', 'Japan', 'Malaysia', 'Bali', 'Java', 'Berlin', 'Dortmund', 'Australia')
y = list(x)
y[1] = 'Pakistan'
x = tuple(y)
print(x)

TypeError: 'list' object is not callable

In [99]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

TypeError: 'list' object is not callable

In [100]:
print(type(list))

<class 'list'>

In [101]:
del list

In [102]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

TypeError: 'tuple' object is not callable

In [103]:
del tuple

In [104]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [105]:
python --version

NameError: name 'python' is not defined

In [106]:
del python

NameError: name 'python' is not defined

In [107]:
Python --version

NameError: name 'Python' is not defined